


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@font-face{
    font-family: "header";
    src:url("/assets/fonts/young-serif/YoungSerif-Regular.ttf")
    
}

@font-face{
    font-family: "others";
    src:url("/assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
}


body {
    background-color: hsl(30, 54%, 90%);
    font-family: others;
    font-size: 16px;

    display: flex;
    justify-content: center;
    padding: 40px 0;
}

body p , body li {
    color: hsl(24, 5%, 18%);
    line-height: 1.6;
   
}



h5{
    color: hsl(332, 51%, 32%);
}

.time{
    background-color: hsl(330, 100%, 98%);
    padding: 10px;
    border-radius: 10px;
}

.time li::marker{
    color : hsl(332, 51%, 32%);
}

li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

.bald{
    font-weight: bold;
}

#box1 {
    text-align: center;
}

.page {
    width: 700px;      
    background-color: white;
    border-radius: 30px;
    padding: 30px;
}


img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}


h2 {
    font-family: header;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    color :hsl(30, 10%, 34%);
}

h3 {
    color :hsl(14, 45%, 36%);
    font-family: header;
    margin-top: 30px;
}

ul , ol {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

table {
    width: 100%;
}

table th,
table td {
    border-bottom: 1px solid hsl(30, 18%, 87%);
    padding: 12px 0;
    text-align: left;
}

table th {
    font-weight: normal;
    color: hsl(24, 5%, 18%);
}

table td {
    font-weight: bold;
    color: hsl(14, 45%, 36%);
}



